# Database Configuration
DATABASE_URL=postgresql+asyncpg://user:password@host.region.aws.neon.tech/neondb

# Security
SECRET_KEY=your-super-secret-jwt-key

# Email Alerts
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_16_char_app_password